body{
    background-color: bisque;
}

.form-control-label{
    margin: 10px;
}

img{
    transition: transform 0.3s ease;
}
img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

/* Style par défaut pour les champs de formulaire */
.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-control-add-book{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style des champs de formulaire valides */
.form-control-add-book:valid {
    border: 1px solid #4CAF50;
}

/* Style des champs de formulaire invalides */
.form-control-add-book:invalid {
    border: 1px solid #FF5733;
}

.invalid-input{
    border: 1px solid #FF5733;
}

.mes-boutons {
    display: flex;
    justify-content: space-between;
}

/* Style pour les messages d'erreur */
.error-message {
    color: #FF5733;
    font-size: 14px;
}

.form-author{
    cursor: not-allowed;
}

.button-margin{
    margin-top: 20px;
}

button{
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.button-format{
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

h1{
    color:red;
    text-align: center;
}
div.sample{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 50px;
    
}

main{
    margin-top:  8em;
}

main > .container{
    padding:  60px 15px 0;
}

form{
    margin-top: 50px;
}

.search-button{
    background-color: grey;
}

.search-button:hover{
    color: black;
}

/* styles pour la page auteur */
.author-content {
    background-color: bisque;
    text-align: center;
    padding: 20px;
}

.author-content h1{
    color: black;
    margin-bottom: 50px;
}

.author-content ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

.author-content ul li {
    text-align: center;
    margin: 10px;
}

.author-content ul li img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Style de la section des commentaires */
.comment-section {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
}

/* Style du titre des commentaires */
.comment-section h2 {
    font-size: 24px;
    color: #333;
}

/* Style de la liste des commentaires */
.comment-section ul {
    list-style-type: none;
    padding: 0;
}

/* Style des commentaires individuels */
.comment-section li {
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
}

/* Style du texte du commentaire */
.comment-section p {
    margin: 0;
    font-size: 16px;
    color: #555;
}

/* Style de l'information de l'utilisateur et de la date */
.comment-section .user-info {
    font-size: 14px;
    color: #777;
}

/* Style du formulaire de commentaire */
.comment-form {
    margin-top: 20px;
}

.comment-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.comment-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.comment-form button:hover {
    background-color: #0056b3;
}

/*Style pour la page de résultats*/

/* Styles pour les auteurs */
h2.auteur {
    font-size: 24px;
    color: #333;
    margin: 20px 0;
}

/* Styles pour les livres */
h2.livres {
    font-size: 24px;
    color: #333;
    margin: 20px 0;
}

/* Styles pour les éléments li (auteur ou livre) */
.search-li {
    font-size: 18px;
    margin-top: 25px;
    list-style-type: none;
    border-top: 1px solid #ccc;

}

/* Styles pour le cas où il n'y a pas d'auteurs ni de livres */
h2.not-found {
    font-size: 24px;
    color: #f00; /* Rouge pour indiquer un message d'erreur */
    margin: 20px 0;
}

/*Style pour : pas_de_livres.html*/
.center-content-pas-de-livres{
    text-align: center;
    margin-top: 50px;
}

.delete-comment-form{
    display: flex;
    flex-direction: row-reverse;
}

/* Style du bouton de suppression */
.delete-comments {
    background-color: #bb2c2c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Style du bouton de suppression au survol */
.delete-comments:hover {
    background-color: #ff3333;
}

.delete-book{
    background-color: #bb2c2c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-book:hover{
    background-color: #692323;
}