{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='myapp.css') }}">
<script src="{{ url_for('static', filename='invalid_input.js') }}"></script>
{% endblock %}
{% block content %}
<div class="sample">
    <h2>Ajouter un nouveau livre</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {% if error_message %}
                <p class="error-message">{{ error_message }}</p>
            {% endif %}
            <label for="title" class="form-control-label">{{ form.title.label.text }}</label>
            {{ form.title(class="form-control-add-book", placeholder="Exemple : Les Misérables") }}
        </div>
        <div class="form-group">
            <label for="price" class="form-control-label">{{ form.price.label.text }}</label>
            {{ form.price(class="form-control-add-book", placeholder="Exemple : 19.99", type="number", step="0.01") }}
        </div>                     
        <div class="form-group">
            <label for="url" class="form-control-label">{{ form.url.label.text }}</label>
            {{ form.url(class="form-control-add-book", placeholder="Exemple : http://example.com/livre", id="url-input") }}
        </div>
        <div class="form-group">
            <label for="img" class="form-control-label">{{ form.img.label.text }}</label>
            {{ form.img(class="form-control-add-book", placeholder="Exemple : http://example.com/mon_image.jpg") }}
        </div>        
        <div class="form-group">
            <label for="author" class="form-control-label">{{ form.author.label.text }}</label>
            {{ form.author(class="form-control form-author") }}
        </div>

        <button type="submit" class="button-margin">Ajouter le livre</button>
    </form>
</div>
{% endblock %}
