<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% block styles %}
    {{bootstrap.load_css()}}

    {% endblock %}
    <title>Ma Biblio</title>
    {% endblock %}
</head>
<body>
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for('home')}}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                  {% if current_user.is_authenticated %}
                    <a class="nav-link active" aria-current="page" href="{{ url_for('logout') }}">logout</a>
                  {% else %}
                    <a class="nav-link" aria-current="page" href="{{ url_for('login') }}">login</a>
                  {% endif %}
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('livres')}}">Bibliothèque</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled">Disabled</a>
                </li>
              </ul>
              <form method="POST" action="{{ url_for('search') }}">
                <input type="text" name="search_query" placeholder="Rechercher...">
                <button type="submit" class= "search-button">Rechercher</button>
            </form>            
            </div>
          </div>
        </nav>
        {% if current_user.is_authenticated %}
          <p class="current_username">Bienvenue, {{ current_user.username }}</p>
        {% endif %}

    </header>
      
    <main class="flex-shrink-0">
        <div class="container">
            {% block content %}

            {% endblock %}
        </div>

    </main>
    
</body>
{% block scripts %}
    {{ bootstrap.load_js()}}
{% endblock %}
</html>