{% extends "base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='myapp.css') }}">
{% endblock %}
{% block content %}
    <div class="sample">
        <img src="{{url_for('static', filename = 'images/'+book.img)}}" alt="image livre {{book.title}}" title="{{book.title}}">
    </div>
    <ul>
        <li>
            Auteur: <a href="{{ url_for('auteur', id=book_author_id) }}">{{ book.author }}</a>
        </li>
        <li>Prix: {{ book.price }}€</li>
        <li>Titre: {{ book.title }}</li>
        <li>Lien: <a href={{ book.url }}>{{ book.url }}</a></li>
    </ul>

    {% if current_user.is_authenticated %}
        <a class="edit-link" href="{{ url_for('edit_author', author_id=book_author_id) }}">
            Modifier nom de l'auteur
        </a>
    {% endif %}

    {% if ma_page %}
        <form action="{{ url_for('delete_book', id=book.id) }}" method="POST">
            <button type="submit" class="delete-book">Supprimer le livre</button>
        </form>
    {% endif %}

    <div class="comment-section">
        <h2>Commentaires</h2>
        <ul>
            {% for comment in comments %}
                <li>
                    <p class="comment-text">{{ comment.text }}</p>
                    <p class="user-info">Posté par {{ comment.user_id }} le {{ comment.date_created.strftime('%d/%m/%Y') }}</p>
                    {% if (current_user.is_authenticated and comment.user_id == current_user.username) or current_user.username == book.author%}
                    <form class="delete-comment-form" action="{{ url_for('delete_comment', comment_id=comment.id) }}" method="POST">
                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                        <button class="delete-comments" type="submit">Supprimer</button>
                    </form>
                    {% endif %}             
                </li>
            {% endfor %}
        </ul>

        <!-- Formulaire de commentaire -->
        {% if current_user.is_authenticated %}
            <h3>Poster un commentaire</h3>
            <form class="comment-form" action="{{ url_for('post_comment', book_id=book.id) }}" method="POST">
                <textarea name="commentaire" rows="4" cols="50" required></textarea><br>
                <button class="button-margin" type="submit">Poster le commentaire</button>
            </form>
        {% else %}
            <p><a href="{{ url_for('login') }}">Connectez-vous</a> pour poster un commentaire.</p>
        {% endif %}
    </div>
{% endblock %}
