{% extends "base.html" %}
{% block styles %}
{{ super()}}
<link rel="stylesheet" href="{{url_for('static',filename='myapp.css') }}">
{% endblock %}
{% block content %}
<h1>Page d'édition : {{ author.name }}</h1>
<form method="POST" action ="{{url_for('edit_author', author_id=author_id)}}">
    {{ form.hidden_tag() }}
    {{ form.name.label }} {{ form.name(size=50) }}
    <input type="submit" value="Enregistrer ">
</form >
{% endblock %}