{% extends "base.html" %}
{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='myapp.css') }}">
{% endblock %}
{% block content %}
    <div class="sample">
        {% if current_user.is_authenticated %}
            <h1 class="current_username">Bienvenue, {{ current_user.username }}</h1>
        {% else %}
            <h1>Bienvenue sur notre site !</h1>
        {% endif %}
        {% if not current_user.is_authenticated %}
            <p>Connectez-vous ou inscrivez-vous pour accéder à plus de fonctionnalités.</p>
            
            <form action="{{ url_for('login') }}" method="GET">
                <button type="submit">Connexion</button>
            </form>

            <form action="{{ url_for('registration') }}" method="GET">
                <button type="submit">Inscription</button>
            </form>
        {% endif %}
    </div>

{% endblock %}
