{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='myapp.css') }}">
{% endblock %}
{% block content %}

    <div class="mes-boutons">
        <div class="button-container">
            <button class="add-book-page" onclick="window.location.href='{{url_for('add_book')}}'">Ajouter un livre</button>
        </div>

        {% if current_user.is_authenticated and id_usr is not none and not pas_de_livre %}
            <div class="button-container">
                <a class="button-format" href="{{ url_for('auteur', id=id_usr) }}">Voir mes livres</a>
            </div>
        {% else %}
            <div class="button-container">
                <a class="button-format" href="{{ url_for('pas_de_livres') }}">Voir mes livres</a>
            </div>
        {% endif %}

        <div class="button-container">
            {% if tout_voir %}
            <form method="POST" action="{{ url_for('livres') }}">
                <input type="hidden" name="tout_voir" value="False">
                <button type="submit" class="bouton-format">Voir moins</button>
            </form>
            {% else %}
            <form method="POST" action="{{ url_for('livres') }}">
                <input type="hidden" name="tout_voir" value="True">
                <button type="submit" class="bouton-format">Voir plus</button>
            </form>
            {% endif %}
        </div>
    </div>

    <div class="sample">
        {% for x in books %}
        <a href="{{url_for('detail', id=x.id)}}">
            <img src="{{url_for('static', filename='images/' + x.img)}}" alt="image livre {{x.title}}" title="{{x.title}}">
        </a>
        {% endfor %}
    </div>

{% endblock %}
