{% extends "base.html" %}
{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='myapp.css') }}">
{% endblock %}
{% block content %}
<div class="center-content-pas-de-livres">
    <h1>Vous n'avez pas encore ajouté de livre</h1>
    <button class="add-book-page button-margin" onclick="window.location.href='{{url_for('add_book')}}'">Ajouter un livre</button>
</div>
{% endblock %}
